html, body{
  margin: 0;
  padding: 0;
}

#container{
  width: 100%;
}

button {
  display: block;
  margin: 0 auto;
}

.image-grid {
  display: flex;
  width: 100vw;
  flex-wrap: wrap;
  justify-content: center;
}

img {
  margin: 20px 5px 0 5px;
  width: 200px;
  height: 200px;
}